.aqua_color{
    color: aqua;
}

.red_color{
    color: red;
}

br ~ button {
    font-weight:normal;
}

form a:hover{

    color: khaki;
}

form button:hover{
    color: red;
    font-weight: bold;
}
